/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

$grid-float-breakpoint: 0;

@import "twitter/bootstrap";

body {
	background: image-url("trinity_bgr_mini.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#navbar_container {
	padding: 0 20px;
}
#main_table {
	margin: 0 auto;
}
#content_wrapper {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
}
.container {
	max-width: 950px;
}
.name_td {
	width: 55%;
 }
#navbar {
	background-color: #0d528a;
	font-weight: 300;
	border: 0;
}
#navbar a {
	color: #fff;
}
.nav_link:hover {
	border-bottom: 5px solid #ffd64c;
	height: 50px;
}
#navbar_button {
	background-color: #0d528a;
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
#navbar_button:hover {
	background-color: #ffd64c;
}
#nav_add_item {
	margin-top: 7px;
	margin-right: 20px;
	color: black;
}
#nav_add_item a {
	color: white;
	border: 2px solid #ffd64c;
	height: 37px;
	line-height: 4px;
	font-weight: 400;
}
#nav_add_item:hover {
	background-color: #ffd64c;
}
#nav_add_item a:hover {
	color: #0d528a;
}
.navbar-brand {
	font-weight: 400;
}
.navbar-default .navbar-nav > .active > a {
	background-color: #463265;
}
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #463265;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #463265;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
	background-color: #463265;
}
.dropdown-menu {
	background-color: #0d528a;
	border: 0;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #ffd64c;
	border-bottom-color: #ffd64c;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #463265;
}
.list_item {
	cursor: pointer;
}
.list_item:hover {
	background-color: #0d528a;
	color: #fff;
}

#my_listings_content_wrapper {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	max-width: 650px;
	margin: 0 auto;
}

#pagination_top .pagination {
	margin-top: 0;
}

#time_td {
	min-width: 100px;
}

/********* alerts ***********/

#gold_alert {
	background-color: #ffd64c;
	border: 0;
	color: #606060;
}
#red_alert {
	background-color: #e74c3c;
	border: 0;
	color: #fff;
}
#neutral_alert {
	background-color: #2ecc71;
	color: #fff;
	border: 0;
}

a {
	color: #0d528a;
}
a:hover {
	color: #0d528a;
}

/*********** edit page ***********/

#edit_wrapper {
	max-width: 500px;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
#delete_link {
	margin-top: 10px;
	display: block;
}
#submit_button {
	border: 0;
	margin-top: 15px;
	background-color: #2ecc71;
}
#submit_button:hover {
	background-color: #27ae60;
}

/************ sign in **************/

#sign_in_wrapper {
	max-width: 400px;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
#sign_in_button {
	border: 0;
	background-color: #2ecc71;
}
#sign_in_button:hover {
	background-color: #27ae60;
}

/*********** new listing **************/

#listing_wrapper {
	max-width: 500px;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
#price_wrapper {

}
.center_text {
	text-align: center;
}
#categories_wrapper {
	margin-top: 10px;
}
.no_bullet {
	list-style-type: none;
}

/************** show listing **************/

#easy_zoom {
	z-index: 2;
	width:400px;
	height:400px;	
	border:5px solid #fff;
	background:#fff;
	color:#333;
	position:absolute;
	top:-120px;
	right: 10px;
	overflow:hidden;
	/* vertical and horizontal alignment used for preloader text */
	line-height:400px;
	text-align:center;
}

#back_button {
	text-align: left;
	margin: 0;
	color: #0d528a;
}
#back_button a {
	color: #0d528a;
}
.listing_title {
	border-bottom: 1px solid #bdc3c7;
}
#show_listing_wrapper {
	max-width: 700px;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 16px;
}
#listing_body {
	margin-top: 20px;
	position: relative;
}
.listing_img {
	float: left;
	margin-right: 20px;
}
#listing_table {
	margin-top: 20px;
}
#listing_table td {
	border: 0;
	padding-left: 0;
}
#listings_count {
	font-weight: 200;
}
.image_upload_button {
	margin-top: 10px;
}
#contact_button {
	font-size: 16px;
}
#register_account_button_wrapper {
	padding: 0 20px;
}
