<div id="sign_in_wrapper" class="container">	
	<p>Welcome to Trinlist!</p>

	<p>Trinlist is a website where Trinity students can buy and sell stuff. You're encouraged to use the Feedback tag on the left of the website to report any bugs or ask questions.</p>

	<p>Confirm your account email through the link below to get started:</p>

	<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
</div>